---

---

<span class="background-effect"></span>

<style>
  .background-effect {
    width: 0px;
    height: 0px;
    border-left: 26.6vw solid transparent;
    border-right: 26.6vw solid transparent;
    border-top: 60vh solid red;
    filter: blur(120px);
    top: 0;
    opacity: 0.15;
    position: absolute;
    pointer-events: none;
  }

  @media (max-width: 768px) {
    .background-effect {
      border-left: 50vw solid transparent;
      border-right: 50vw solid transparent;
    }
  }
</style>
