---
---

<span class="background-effect"></span>

<style>
  .background-effect {
    width: 0px;
    height: 0px;
    border-left: 32rem solid transparent;
    border-right: 32rem solid transparent;
    border-top: 70rem solid red;
    filter: blur(120px);
    opacity: 0.15;
    position: fixed;
    pointer-events: none;
  }
</style>
