---
interface Props {
  name: string;
  id?: string;
  class?: string;
}

const { name } = Astro.props as Props;
---

<button class="button">
  {name}
</button>

<style>
  .button {
    display: flex;
    height: 2.5rem;
    width: 8rem;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    border: 1px solid transparent;
    cursor: pointer;
    border: 1px solid rgb(179, 2, 2);
    background-color: transparent;
    color: white;
  }

  .button:hover {
    background-color: var(--secondary-color);
  }
</style>
