---
interface Props {
  title: string;
  href: string;
  isLocal?: boolean;
  active?: boolean;
  id?: string;
}

const { title, href, isLocal, id } = Astro.props as Props;
---

<a
  class="link-item"
  href={href}
  rel={isLocal ? undefined : 'noopener noreferrer'}
  target={isLocal ? undefined : '_blank'}
  id={id}
>
  {title}
</a>
