---
import Link from './Link.astro';
---

<nav class="mobile-menu-nav">
  <ul class="mobile-menu-list">
    <li class="menu-item">
      <Link
        href="/docs/sdks/"
        name="SDK's"
        title="See all HawAPI SDKs"
        isLocal
      />
    </li>
    <li class="menu-item">
      <Link
        href="/docs/faq/"
        name="FAQ"
        title="See the FAQ about the project"
        isLocal
      />
    </li>
    <li class="menu-item">
      <Link
        href="/docs/about/"
        name="About"
        title="See more about the project"
        isLocal
      />
    </li>
  </ul>
</nav>

<style>
  .mobile-menu-nav {
    height: 100%;
    width: 100%;
  }

  .menu-item {
    display: inline;
    margin-right: 1.5rem;
    font-size: 0.875rem;
  }

  @media (max-width: 992px) {
    .mobile-menu-nav {
      height: 100%;
      width: 100%;
      position: fixed;
      margin-top: 2rem;
    }

    .mobile-menu-list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .menu-item {
      margin-right: 0;
      margin-top: 1.5rem;
    }
  }
</style>
