---
interface Props {
  value?: string;
  margin?: string;
}

const { value, margin = '0 1rem' } = Astro.props;
---

<h1 class="text-effect">
  {value ?? <slot />}
</h1>

<style define:vars={{ margin }}>
  .text-effect {
    font-size: 6vw;
    font-family: Benguiat;
    color: var(--sw-secondary-text-effect);
    text-shadow: var(--sw-primary-text-effect);
    margin: var(--margin);
    padding: 0;
    text-align: center;
  }

  @media (max-width: 768px) {
    .text-effect {
      font-size: 12vw;
    }
  }
</style>
