---
import BackgroundEffect from '@components/core/BackgroundEffect.astro';
import Layout from '@components/layouts/Layout.astro';
---

<Layout title="SDK's">
  <main>
    <BackgroundEffect />
    <h1 class="sw-effect-title">SDK's</h1>
  </main>
</Layout>

<style></style>
