---

---

<footer>
  <a href="/docs/about/#maintainers" class="fr-item">Maintainers</a>
  <a href="/docs/about/#tech-stack" class="fr-item">Tech Stack</a>
  <a href="/docs/about/#fair-use-policy" class="fr-item">Fair Use Policy</a>
  <a href="/docs/about/#copyright" class="fr-item">Copyright</a>
  <a href="/docs/about/#licenses" class="fr-item">Licenses</a>
</footer>

<style>
  footer {
    height: 3.5rem;
    width: 100%;
    position: fixed;
    font-size: 0.875rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    bottom: 0;
    gap: 1.5rem;
    margin: 0 1.5rem 1rem 1.5rem;
  }

  @media (max-width: 488px) {
    footer {
      margin-bottom: 1.5rem;
    }
  }
</style>
