---
---

<footer>
  <a href="/docs/about#maintainers">Maintainers</a>
  <a href="/docs/about#tech-stack">Tech Stack</a>
  <a href="/docs/about#fair-use-policy">Fair Use Policy</a>
  <a href="/docs/about#copyright">Copyright</a>
  <a href="/docs/about#licenses">Licenses</a>
</footer>

<style>
  footer {
    position: fixed;
    height: 2rem;
    width: 100%;
    margin-top: -2rem;
    font-size: 0.875rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
  }
</style>
