---
---

<footer>
  <a href="/docs/about/#maintainers" class="fr-item">Maintainers</a>
  <a href="/docs/about/#tech-stack" class="fr-item">Tech Stack</a>
  <a href="/docs/about/#fair-use-policy" class="fr-item">Fair Use Policy</a>
  <a href="/docs/about/#copyright" class="fr-item">Copyright</a>
  <a href="/docs/about/#licenses" class="fr-item">Licenses</a>
</footer>

<style>
  footer {
    position: fixed;
    height: 2rem;
    width: 100%;
    margin-top: -2rem;
    font-size: 0.875rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
  }

  @media (max-width: 576px) {
    footer {
      height: max-content;
      margin-top: -3.2rem;
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(3, 8rem);
      grid-template-rows: repeat(2, 0.5rem);
      gap: 1rem;
    }
  }

  @media (max-width: 400px) {
    footer {
      grid-template-columns: repeat(3, 5rem);
      grid-template-rows: repeat(2, 0.5rem);
    }
  }
</style>
