---
import { Icon } from 'astro-icon';
---

<header>
  <a href="/" class="header-item-box header-item-box-left">
    <p class="title">HawAPI</p>
  </a>
  <nav>
    <ul>
      <li class="nav-item"><a href="/sdks/">SDK's</a></li>
      <li class="nav-item"><a href="/docs/faq/">FAQ</a></li>
      <li class="nav-item"><a href="/docs/about/">About</a></li>
    </ul>
  </nav>
  <a
    href="https://github.com/HawAPI"
    target="_blank"
    class="header-item-box header-item-box-right"
  >
    <Icon pack="mdi" name="github" height="30px" width="30px" />
  </a>
</header>

<style>
  header {
    position: fixed;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 2;
    border-bottom: 1px solid var(--primary-border-color);
  }

  .header-item-box {
    height: 30px;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-item-box-left {
    font-size: 1.5rem;
    margin-left: 5rem;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: var(--sw-primary-text-effect);
  }

  .header-item-box-left:hover {
    color: rgb(100, 2, 2);
  }

  .header-item-box-right {
    margin-right: 6rem;
  }

  nav {
    width: 100%;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
  }

  .nav-item {
    display: inline;
    margin-right: 1.5rem;
    font-size: 0.875rem;
  }
</style>
