---
import Link from '@components/core/Link.astro';
import Nav from '@components/core/Nav.astro';
import { Icon } from 'astro-icon';
---

<header>
  <Link href="/" title="Go to homepage" isLocal classes={['header-item']}>
    <span class:list={['title', 'header-item-left']}>Haw<br />API</span>
  </Link>

  <div class="menu">
    <div class="large-menu">
      <Nav />
    </div>
    <div class="mobile-menu">
      <Icon name="ic:round-menu" class="mobile-menu-icon" />
      <div class="mobile-menu-body">
        <Nav />
      </div>
    </div>
  </div>

  <Link
    href="https://github.com/HawAPI"
    title="See the GitHub page of HawAPI"
    classes={['header-item']}
  >
    <Icon
      pack="mdi"
      name="github"
      height="30px"
      width="30px"
      class="header-item-right"
    />
  </Link>
</header>

<style>
  header {
    position: absolute;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    z-index: 2;
    border-bottom: 1px solid var(--primary-border-color);
    top: 0;
  }

  .title {
    text-align: center;
    font-size: 0.8em;
    font-family: Benguiat;
  }

  .header-item {
    height: 30px;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-item-left {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: var(--sw-primary-text-effect);
    transition: all 0.3s;
  }

  .header-item-left:hover {
    color: rgb(100, 2, 2);
  }

  .header-item-right {
    margin: 0 0.5rem;
  }

  .menu {
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu > * {
    display: none;
    pointer-events: none;
  }

  .mobile-menu {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu-icon {
    z-index: 99;
    height: 40px;
    width: 40px;
    color: var(--secondary-text-color);
  }

  .mobile-menu-body {
    position: absolute;
    width: 100%;
  }

  @media (max-width: 992px) {
    .large-menu {
      display: none;
      pointer-events: none;
    }

    .mobile-menu > .mobile-menu-icon {
      display: initial;
      pointer-events: all;
    }
  }
</style>

<script>
  let isOpen = false;
  const mMenu = document.querySelector<HTMLElement>('.mobile-menu');
  const mMenuBody = document.querySelector<HTMLElement>('.mobile-menu-body');
  const main = document.querySelector<HTMLElement>('.container');

  mMenu?.addEventListener('click', () => {
    if (mMenuBody == null || main == null) return;

    if (isOpen) {
      main.style.filter = 'none';
      mMenuBody.style.display = 'none';
      mMenuBody.style.pointerEvents = 'none';
    } else {
      main.style.filter = 'blur(1rem)';
      mMenuBody.style.display = 'initial';
      mMenuBody.style.pointerEvents = 'all';
    }

    isOpen = !isOpen;
  });
</script>
