---
import Nav from '@components/core/Nav.astro';
import { Icon } from 'astro-icon';
---

<header>
  <a href="/" class="header-item-box header-item-box-left">
    <p class="title">Haw<br />API</p>
  </a>
  <div class="menu">
    <div class="n-menu">
      <Nav />
    </div>
    <div class="m-menu">
      <Icon name="ic:round-menu" class="m-menu-icon" />
      <div class="m-menu-body">
        <Nav />
      </div>
    </div>
  </div>
  <a
    href="https://github.com/HawAPI"
    target="_blank"
    class="header-item-box header-item-box-right"
  >
    <Icon pack="mdi" name="github" height="30px" width="30px" />
  </a>
</header>

<style>
  header {
    position: fixed;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 2;
    border-bottom: 1px solid var(--primary-border-color);
  }

  .title {
    text-align: center;
    font-size: 0.8em;
    font-family: Benguiat;
  }

  .header-item-box {
    height: 30px;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-item-box-left {
    font-size: 1.5rem;
    margin-left: 5rem;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: var(--sw-primary-text-effect);
  }

  .header-item-box-left:hover {
    color: rgb(100, 2, 2);
  }

  .header-item-box-right {
    margin-right: 6rem;
  }

  .menu {
    width: 100%;
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
  }

  .m-menu > * {
    display: none;
    pointer-events: none;
  }

  .m-menu {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .m-menu-icon {
    z-index: 99;
    height: 40px;
    width: 40px;
    color: var(--secondary-text-color);
  }

  .m-menu-body {
    position: absolute;
    width: 100%;
  }

  @media (max-width: 992px) {
    .n-menu {
      display: none;
      pointer-events: none;
    }

    .m-menu > .m-menu-icon {
      display: initial;
      pointer-events: all;
    }
  }
</style>

<script>
  let isOpen = false;
  const mMenu = document.querySelector<HTMLElement>('.m-menu');
  const mMenuBody = document.querySelector<HTMLElement>('.m-menu-body');
  const main = document.querySelector<HTMLElement>('main');

  mMenu?.addEventListener('click', () => {
    if (mMenuBody == null || main == null) return;

    if (isOpen) {
      main.style.filter = 'none';
      mMenuBody.style.display = 'none';
      mMenuBody.style.pointerEvents = 'none';
    } else {
      main.style.filter = 'blur(1rem)';
      mMenuBody.style.display = 'initial';
      mMenuBody.style.pointerEvents = 'all';
    }

    isOpen = !isOpen;
  });
</script>
