---
import Layout from '@components/layouts/Layout.astro';
import LinkBox from '@components/core/LinkBox.astro';
import Link from '@components/core/Link.astro';
import Container from '@components/data/Container.astro';
import TextEffect from '@components/core/TextEffect.astro';
import Description from '@components/core/Description.astro';
---

<script
  is:inline
  src="https://cdn.statically.io/libs/typed.js/2.0.11/typed.min.js"></script>

<Layout title="Home">
  <Container>
    <TextEffect>
      <span class="hm-title" id="typ-title"></span>
    </TextEffect>

    <Description>
      A Free and
      <Link
        name="Open Source"
        title="See the GitHub page of HawAPI"
        href="https://github.com/HawAPI"
        isLocal={false}
      />
       API for the
      <Link
        name="Stranger Things"
        title="See the official Stranger Things page on Netflix"
        href="https://www.netflix.com/title/80057281"
        isLocal={false}
      />
       show
    </Description>

    <div class="home-links">
      <LinkBox
        name="Docs"
        title="See the HawAPI documentation"
        href="/docs/"
        active
        isLocal
      />
      <LinkBox
        name="Try it"
        title="Try it out the HawAPI project"
        href="/try-it/"
        isLocal
      />
    </div>
  </Container>
</Layout>

<style>
  .home-links {
    margin: 0.8rem 1.5rem 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
  }

  .hm-title {
    font-family: Benguiat !important;
    white-space: normal;
  }
</style>

<script is:inline>
  new Typed('#typ-title', {
    strings: ['HawAPI', 'Hawkins', 'Stranger Things'],
    typeSpeed: 150,
    backSpeed: 100,
    startDelay: 600,
    backDelay: 1500,
    stringsElement: null,
    showCursor: true,
    cursorChar: '|',
    loop: true,
  });
</script>
