---
import BackgroundEffect from '@components/core/BackgroundEffect.astro';
import Layout from '@components/layouts/Layout.astro';
---

<script
  is:inline
  src="https://cdn.statically.io/libs/typed.js/2.0.11/typed.min.js"></script>

<Layout title="Home">
  <main>
    <BackgroundEffect />
    <h1 class="sw-effect-title">
      <span class="hm-title" id="typ-title"></span>
    </h1>

    <p class="home-sub-title">
      A Free and
      <a href="https://github.com/HawAPI" target="_blank" class="oc">
        Open Source
      </a>
      API for
      <a href="https://www.netflix.com/br/title/80057281" target="_blank">
        Stranger Things
      </a>
    </p>

    <div class="home-btns">
      <a href="/docs/" class="btn btn-full">Docs</a>
      <a href="/try-it/" class="btn btn-border">Try it</a>
    </div>
  </main>
</Layout>

<style>
  body {
    overflow: hidden;
  }

  .home-sub-title {
    font-size: 1.1em;
    margin: 0 0 1.2em 0;
    text-align: center;
  }

  .home-btns {
    margin-top: 0.8rem;
    display: flex;
    gap: 2.5rem;
  }

  .hm-title {
    font-family: Benguiat !important;
    white-space: normal;
  }
</style>

<script is:inline>
  new Typed('#typ-title', {
    strings: ['HawAPI', 'Hawkins', 'Stranger Things'],
    typeSpeed: 150,
    backSpeed: 100,
    startDelay: 600,
    backDelay: 1500,
    stringsElement: null,
    showCursor: true,
    cursorChar: '|',
    loop: true,
  });
</script>
