---
import BackgroundEffect from '@components/core/BackgroundEffect.astro';
import Layout from '@components/layouts/Layout.astro';
---

<script
  is:inline
  src="https://cdn.statically.io/libs/typed.js/2.0.11/typed.min.js"
></script>

<Layout title="Home">
  <main>
    <BackgroundEffect />
    <h1 class="sw-effect-title">Haw<span id="typ-title"></span></h1>

    <p class="home-sub-title">
      A Free and <a href="https://github.com/HawAPI" target="_blank" class="oc"
        >Open Source</a
      > API for Stranger Things
    </p>

    <div class="home-btns">
      <a href="/docs/" class="hm-btn hm-btn-1">Docs</a>
      <a href="/try-it/" class="hm-btn hm-btn-2">Try it</a>
    </div>
  </main>
</Layout>

<style>
  .home-sub-title {
    font-size: 1.1em;
    margin: 0 0 1.2em 0;
  }

  .home-btns {
    margin-top: 0.8rem;
    display: flex;
    gap: 2.5rem;
  }

  .hm-btn {
    display: flex;
    height: 2.5rem;
    width: 8rem;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    border: 1px solid transparent;
  }

  .hm-btn {
    background-color: rgb(179, 2, 2);
    color: white;
  }

  .hm-btn-1:hover {
    background-color: rgb(100, 2, 2);
    color: white;
  }

  .hm-btn-2 {
    border: 1px solid rgb(179, 2, 2);
    background-color: transparent;
    color: white;
  }
</style>

<script is:inline>
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  var typed = new Typed('#typ-title', {
    strings: ['API', 'kins'],
    typeSpeed: 150,
    backSpeed: 100,
    startDelay: 600,
    backDelay: 1500,
    stringsElement: null,
    showCursor: false,
    loop: true,
  });
</script>
