---
import BackgroundEffect from '@components/core/BackgroundEffect.astro';
import Layout from '@components/layouts/Layout.astro';
---

<Layout title="Swagger">
  <main>
    <BackgroundEffect />
    <div id="swagger-ui"></div>
  </main>
</Layout>

<link rel="stylesheet" type="text/css" href="/styles/swagger-ui.css" />
<style>
  body {
    overflow: initial;
  }

  main {
    justify-content: initial;
  }

  #swagger-ui {
    margin-top: 5rem;
    width: 100%;
  }

  .title {
    color: transparent !important;
  }
</style>

<script
  is:inline
  src="https://unpkg.com/swagger-ui-dist@4.19.0/swagger-ui-bundle.js"
></script>
<script
  is:inline
  src="https://unpkg.com/swagger-ui-dist@4.19.0/swagger-ui-standalone-preset.js"
></script>
<script is:inline>
  window.onload = function () {
    // eslint-disable-next-line @typescript-eslint/no-unused-vars
    const ui = SwaggerUIBundle({
      url: 'http://localhost:8080/v3/api-docs',
      dom_id: '#swagger-ui',
      deepLinking: true,
      tagsSorter: 'alpha',
      validatorUrl: '',
      presets: [SwaggerUIBundle.presets.apis, SwaggerUIStandalonePreset],
      layout: 'StandaloneLayout',
      docExpansion: 'none',
      displayRequestDuration: true,
    });
  };
</script>
